html{
  min-height: 100%;
  position: relative;
}

body{
  height: 100%;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 10px 0 0 10px;
  overflow: hidden;
  background-color: white;
}

div {
  font-family: Helvetica;
}

.home {
  margin-top: 50px;
}

.color-custom {
  color: #33BEFF;
}

.font-icon {
  font-size: 18px;
}

.nav-text {
  color: rgba(0,0,0,.54);
}

.nav-text:hover {
  color: #33BEFF;
}

.nav-border {
  border-bottom: 3px solid #F3F4F5;
}

.nav-comp {
  float: left;
}

.nav-comp a {
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  cursor: pointer;
}

.nav-comp a:hover {
  background-color: #F3F4F5;
  color: #33BEFF;
  border-radius: 10px;
}

.nav-comp button {
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  border: none;
  background-color: white;
  font-size: 16px;
}

.nav-comp button:hover {
  background-color: #F3F4F5;
  color: #33BEFF;
  border-radius: 10px;
}

.dropdown-menu {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.dropdown-children {
  position: absolute;
  /* display: block; */
  display: none;
  z-index: 1;
  background-color: white;
  right: 30px;
  top: 45px;
}

.dropdown-menu:hover .dropdown-children {
  display: block;
}

.dropdown-children button {
  display: block;
  color: black;
  text-align: center;
  padding: 14px 19px;
  text-decoration: none;
  border: none;
  background-color: white;
  font-size: 16px;
}

.dropdown-children a {
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.dropdown-children a:hover {
  background-color: rgba(0,0,0,.54);
  color: white;
}

.dropdown-children button:hover {
  background-color: rgba(0,0,0,.54);
  color: white;
}

.searchbar {
  width: 95%;
  padding: 8px 15px;
  margin: 8px 0 0 20px;
  outline: none;
  border: 1px solid lightgray;
  border-radius: 8px;
}

.navbar {
  position: fixed;
  z-index: 100;
  width: 100%;
  top: 0;
  padding: 10px;
  background: white;
}

.inputText {
  padding: 8px 15px;
  outline: none;
  border: 1px solid lightgray;
  border-radius: 5px;
}

.btn-primary {
  padding: 7px 50px 7px 50px;
  border-radius: 7px;
  background-color: lightgray;
}

.bold {
  font-weight: bold;
}

.flex {
  display: flex;
}

.flex-wrap {
  flex-wrap: wrap;
}

.float-right {
  float: right;
}

.float-left {
  float:left;
}

.margin-left-s {
  margin-left: 30px !important;
}

.margin-top-xxxs {
  margin-top: 5px !important;
}

.margin-top-xxs {
  margin-top: 10px !important;
}

.margin-top-xs {
  margin-top: 15px !important;
}

.margin-top-s {
  margin-top: 20px !important;
}

.margin-top-m {
  margin-top: 65px !important;
}

.margin-top-l {
  margin-top: 80px !important;
}

.margin-top-xl {
  margin-top: 100px !important;
}

.margin-bottom-xxxs {
  margin-bottom: 5px !important;
}

.margin-bottom-xxs {
  margin-bottom: 10px !important;
}

.margin-bottom-xs {
  margin-bottom: 15px !important;
}

.margin-bottom-m {
  margin-bottom: 30px !important;
}

.margin-left-xxs {
  margin-left: 15px !important;
}

.margin-left-xs {
  margin-left: 25px !important;
}

.margin-left-s {
  margin-left: 50px !important;
}

.margin-left-m {
  margin-left: 80px !important;
}

.margin-left-l {
  margin-left: 150px !important;
}

.margin-left-40 {
  margin-left: 40% !important;
}

.margin-right-xxs {
  margin-right: 15px !important;
}

.margin-right-xs {
  margin-right: 25px !important;
}

.margin-right-s {
  margin-right: 50px !important;
}

.margin-right-m {
  margin-right: 80px !important;
}

.padding-top-xxs {
  padding-top: 10px !important;
}

.padding-top-xs {
  padding-top: 15px !important;
}

.padding-top-s {
  padding-top: 20px !important;
}

.padding-top-m {
  padding-top: 50px !important;
}

.padding-right-m {
  padding-right: 80px !important;
}

.font-size-xxs {
  font-size: 14px;
}

.font-size-xs {
  font-size: 16px;
}

.font-size-s {
  font-size: 20px;
}

.font-size-m {
  font-size: 26px;
}

.font-size-l {
  font-size: 36px;
}

.font-size-xl {
  font-size: 54px;
}

.width-100 {
  width: 100%;
}

.width-auto {
  width: auto;
}

.background-white {
  background: white;
}

.background-light-grey {
  background: #f2f2f2;
  height: 600px;
}

.right-auto {
  right: auto;
}

.border-bottom-grey {
  border-bottom: 1px solid lightgrey;
}

.cursor-pointer {
  cursor: pointer;
}

.align-center {
  text-align: center;
}

.align-left {
  text-align: left;
}

.align-right {
  text-align: right;
}

.underline {
  text-decoration: underline;
}

.font-20 {
  font-size: 20px;
}

.color-grey {
  color: grey;
}

.color-lightgrey {
  color: lightgrey;
}

.slide-container {
  padding: 15px 0 20px 0;
}

.text-decoration-none {
  text-decoration: none;
}

.each-slide > div {
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
  height: 600px;
}

.product-category-container {
  height: 190px;
  width: 190px;
}

.product-list-container {
  height: 250px;
  width: 190px;
}

.product-text-container {
  text-decoration: none !important;
  color: black;
  font-size: 14px;
  text-align: center;
  margin-top: 5px;
}

.product-border {
  border: 1px solid lightgrey;
  padding: 10px;
  margin-right: 15px;
  margin-bottom: 15px;
  width: 200px;
}

.product-category-border {
  border: 1px solid lightgrey;
  padding: 10px;
  margin-right: 25px;
  margin-bottom: 15px;
  width: 200px;
}

.category-border {
  margin: 10px;
}

.category-text-container {
  text-decoration: none !important;
  color: black;
  font-size: 15px;
  text-align: center;
}

/* .each-slide span {
  padding: 20px;
  font-size: 20px;
  background: #efefef;
  text-align: center;
} */

.category-container {
  padding: 10px 45px 30px 45px;
}

.terlaris-container {
  padding: 10px 45px 30px 45px;
}

.login-logo {
  text-align: left;
  margin-left: 10%;
  font-weight: bold;
  font-size: 36px;
  font-family: 'Lato-Regular';
  padding-top: 25px;
  text-decoration: none;
  color: black;
}

.login-container {
  margin-top: 50px;
  margin-left: 30%;
  margin-right: 30%;
  background: white;
  height: 400px;
  border: 1px solid #d9d9d9;
  border-radius: 26px;
}

.signup-container {
  margin-top: 50px;
  margin-left: 30%;
  margin-right: 30%;
  background: white;
  height: 450px;
  border: 1px solid #d9d9d9;
  border-radius: 26px;
}

.login-header {
  background: white;
  padding-bottom: 10px;
  border-bottom: 1px solid #d9d9d9;
}

.login-inner-container {
  padding: 0 60px 0 60px;
}

.login-text {
  font-size: 30px;
  text-align: center;
  color: #47525E;
  font-weight: bold;
}

.login-subtext {
  text-align: center;
  color: grey;
  margin-top: 20px;
}

.login-input {
  width: 85%;
  padding: 8px 15px;
  margin: 40px 0 0 20px;
  outline: none;
  border: 1px solid lightgray;
  border-radius: 8px;
  max-width: 100%;
}

.signin-button {
  width: 100%;
  height: 35px;
  background-color: #47525E;
  color: white;
  font-size: 16px;
  border-radius: 8px;
}

.profile-sidenav {
  height: 100%;
  width: 250px;
  position: fixed;
  z-index: 1;
  top: 60px;
  left: 0;
  overflow-x: hidden;
  padding-top: 34px;
}

.profile-main {
  margin-left: 300px; 
  margin-right: 100px;
  padding: 30px 10px 10px 10px;
}

.profile-main-inner {
  top: 60px;
  border: 1px solid #d9d9d9;
  border-radius: 5px;
  background: white;
  padding: 20px;
}

.profile-sidenav-inner {
  border: 1px solid #d9d9d9;
  border-radius: 5px;
  padding: 20px;
  background: white;
  text-align: center;
  font-size: 20px;
  letter-spacing: 2px;
}

.profile-sidenav-inner-text {
  border-bottom: 1px solid#d9d9d9;
  padding-bottom: 15px;
}

.flex-container {
  padding: 10px 0 0 0;
  display: flex;
  flex-wrap: wrap;
}

.flex-container-product {
  background-color: gray;
  width: 190px;
  height: 190px;
  margin: 10px;
  text-align: center;
  font-size: 30px;
}

.compare-product-container {
  width: 400px;
}

.compare-1 {
  position: absolute;
  left: 20px;
}

.compare-2 {
  position: absolute;
  left: 470px;
}

.compare-3 {
  position: absolute;
  left: 920px;
}

.square {
  height: 200px;
  width: 200px;
  background-color: #555;
}

.profile-circle {
  height: 250px;
  width: 250px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
}

.profile-name {
  font-size: 25px;
  letter-spacing: 3px;
}

.profile-title {
  font-size: 20px;
  letter-spacing: 1px;
}

.profile-subtitle {
  font-size: 20px;
  letter-spacing: 1px;
  border-bottom: 1px solid #d9d9d9;
  padding-bottom: 15px;
}

.product-wishlist {
  margin: auto;
  width: 50%;
  padding: 10px;
  height: 200px;
  background-color: #555;
}

.pagination > li{
  display: inline;
}

.pagination > li > a{
  position: relative;
  /* float: left; */
  padding: 6px 12px;
  margin-left: -1px;
  line-height: 1.42857143;
  /* color: #337ab7; */
  text-decoration: none;
  /* background-color: #fff; */
  border: 1px solid #ddd;
  cursor: grab
}

.upgrade-container {
  margin: 30px 10px 0 30px;
}

.footer {
  position: absolute;
  z-index: 100;
  width: 100%;
  left: 0;
  bottom: 0;
  background-color: #f5f5f7;
  color: #666666;
  margin-bottom: -40px;
  font-size: 15px;
  margin-top: 30px;
}

.inner-footer {
  padding: 20px 0 20px 80px;
}

.wishlist-container {
  margin: auto;
  width: 50%;
  padding: 10px;
  height: 200px;
}

.wish-border {
  border: 1px solid lightgrey;
  padding: 30px;
  margin-bottom: 30px;
  width: 100%;
}

.product-wish-container {
  text-decoration: none !important;
  color: black;
  font-size: 20px;
  margin-top: 5px;
}

.wish-image-container {
  height: 200px;
  width: 150px;
}

.wish-button {
  background-color: grey;
  color: white;
  padding: 8px 20px 8px 20px;
  border-radius: 5px;
  width: 80px;
  font-size: 15px;
}

.edit-text {
  font-size: 13px;
  float: right;
}

.compare-add-button {
  border-radius: 13px;
  border: 2px solid lightgrey;
  background-color: white;
  color: grey;
  padding: 4px;
  margin-right: 5px;
}

.profilebox {
  width: 300px;
  padding: 0 15px;
  outline: none;
  border: 2px solid lightgrey;
  border-radius: 15px;
}

.sendprofile{
  margin-left: 25px;
  background-color: grey;
  color: white;
  padding: 7px 20px 7px 20px;
  border-radius: 5px;
  cursor: pointer;
}