td {
  padding: 10px;
}

/* table td:nth-child(2) {
  padding-left: 25px;
} */

.product-container {
  padding: 30px 45px 30px 45px;
}

.product-description-container {
    padding: 10px 45px 30px 45px;
}

.product-detail-container {
  padding: 10px 45px 0 30px;
}  

.product-tab {
  cursor: pointer;
}  

.product-select-container {
  margin: 10px 0 10px 0;
  padding: 0 600px 0 0;
}  

.comment-container {
  margin: 30px 100px 10px 0;
  padding: 10px 10px 10px 10px;
  width: 90%;
  border: 1px solid lightgrey;
  border-radius: 10px;
}

.comment-reply-container {
  margin: 30px 100px 10px 100px;
  padding: 10px 10px 10px 10px;
  width: 82%;
  height: 130px;
  border: 1px solid lightgrey;
  border-radius: 10px;
}

.review-container {
  margin: 30px 100px 10px 0;
  padding: 10px 10px 10px 10px;
  width: 90%;
  border: 1px solid lightgrey;
  border-radius: 10px;
}

.compare-container {
  margin: 30px 10px 0 30px;
}

.product-compare-container {
  margin: 10px 0 20px 0;
  /* padding: 0 650px 0 0; */
}  

.add-compare-container {
  margin: 17px 0 0 20px;
}  

.people-choose {
  margin: 20px 0 0 0;
}

.price-compare-margin {
  margin: 10px 0 10px 0;
  border: 1px solid #d9d9d9;
  width: 45%;
  padding-bottom: 10px;
}

.commentbox {
  width: 80%;
  padding: 10px 15px;
  outline: none;
  border: 2px solid lightgrey;
  border-radius: 15px;
}

.sendcomment {
  margin-left: 25px;
  background-color: grey;
  color: white;
  padding: 10px 30px 10px 30px;
  border-radius: 5px;
  cursor: pointer;
}

.deletecomment {
  margin-left: 25px;
  background-color:#FF0000;
  color: white;
  padding: 10px 30px 10px 30px;
  border-radius: 5px;
  float: right;
  cursor: pointer;
}

.reply-button {
  float: right;
  margin-top: 15px;
  text-decoration: underline;
  cursor: pointer;
}

.sendcomment :hover {
  cursor: grab;
}

.reset-product {
  margin-bottom: 10px;
  background-color: grey;
  color: white;
  padding: 8px 20px 8px 20px;
  border-radius: 5px;
  width: 40px;
}

.price-store {
  background-color: grey;
  color: white;
  padding: 8px 20px 8px 20px;
  border-radius: 5px;
  width: 80px;
  float: right;
}

.category-sidenav {
  height: 100%;
  width: 250px;
  position: fixed;
  z-index: 1;
  top: 60px;
  left: 0;
  overflow-x: hidden;
  padding-top: 30px;
}

.category-main {
  margin-left: 200px; 
  padding: 20px 10px 10px 10px;
}

.product-line {
  border-top: 1px solid lightblue;  
}

.category-title {
  font-weight: bold;
  font-size: 25px;
  margin-bottom: 15px;
}

.comment-pic-container {
  margin: 15px 15px 0 15px;
}

.review-star {
  margin-left:auto;
  margin-right: 15px;
}

div.active-tab {
  border-bottom:1px solid #4285f4;
  padding-bottom: 5px;
}

div.price-active-tab {
  background-color: lightgrey;
  color: white;
  font-size: 17px;
}

div.review-active-tab {
  background-color: lightgrey;
  color: white;
}

.product-square {
  height: 310px;
  width: 280px;
  background-color: #555;
}

.product-square-2 {
  height: 250px;
  width: 210px;
  background-color: #555;
  margin-right: 50px;
  margin-bottom: 35px;
}

.product-rectangle {
  height: 130px;
  width: 150px;
  background-color: #555;
}

.price-image {
  height: 150px;
  width: 150px;
}

.circle {
  height: 50px;
  width: 50px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
}

.review-radio {
  border-radius: 13px;
  border-color: lightgrey;
  border-width: 2px;
  background-color: white;
  padding: 5px;
  margin-right: 5px;
}

.review-filter-button {
  border: 2px solid lightgrey;
  color: grey;
  align-items: center;
  border-radius: 16px;
  padding: 1px 12px;
  padding-top: 5px; 
  height: 25px;
  cursor: pointer;
}

.price-filter-button {
  border: 2px solid lightgrey;
  color: grey;
  align-items: center;
  border-radius: 16px;
  padding: 1px 12px;
  padding-top: 5px; 
  height: 25px;
  cursor: pointer;
}

td.spec, th.spec  {
  border: 1px solid lightgrey;
  /* border-collapse: collapse; */
}

table.spec  {
  border-collapse: collapse;
  width: 100%;
}

th.spec  {
  text-align: left;
}

td.spec {
  border: 1px solid lightgrey;
}

.product-comparison-container {
  width: 550px;
}

.product-image {
  height: 300px;
  width: 250px;
}

tr {
  border: 1px solid #7d7464;
}

th {
  color: #d50000;
  text-transform: uppercase;
  width: 86px;
  padding: 2px 10px;
  vertical-align: top;
  text-align: left;
}

td {
  padding: 2px 10px;
  border-bottom: 1px solid #f0f0f0;
  line-height: 16px;
  font-size: 14px;
  vertical-align: top;
}

.tr-hover {
  top: 0;
  padding: 3px 10px;
}

td.ttl {
  color: #7d7464;
  font-weight: 700;
  width: 90px;
  text-align: left;
}

a {
  text-decoration: none;
  color: #555;
}

td.bigger-font {
  padding-left: 30px;
  padding-top: 20px;
  font-size: 16px;
}

.specs_ad {
  margin-top: 20px;
}